<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/User/Medicine">
                    <input type="button" class="btn btn-primary" value="Zobacz liste lekow" />
                </a>
                <a href="/User/CreateOrder">
                    <input type="button" class="btn btn-primary" value="Dokonaj zamowienia" />
                </a>
                <a href="/User/Order">
                    <input type="button" class="btn btn-primary" value="Twoje zamowienia" />
                </a>
            </div>
        </div>
    </div>
</body>
</html>